body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.dark-theme {
    background: url('clouds-dark.jpg') no-repeat center center fixed;
    color: #D2A679; /* Sepia tone for text */
}

body.light-theme {
    background: url('clouds-light.jpg') no-repeat center center fixed;
    color: #2D2D2D; /* Dark tone for text */
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 80%;
}

body.dark-theme .testimonials {
    background: rgba(210, 166, 121, 0.5); /* Sepia tone for testimonials background */
}

body.light-theme .testimonials {
    background: rgba(45, 45, 45, 0.5); /* Dark tone for testimonials background */
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote {
    text-align: center;
    margin: 20px;
}